.book-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3px;
}

.book-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    width: 100%;
}

.book-cover {
    width: 150px;
    /* 이미지 크기 조정 */
    height: auto;
    margin-right: 20px;
}

.book-info {
    flex-grow: 1;
    padding-right: 20px;
}

.book-title {
    font-size: 1.2em;
    font-weight: bold;
}

.book-author,
.book-publisher,
.book-pubDate,
.book-price,
.book-mileage {
    margin: 5px 0;
}

.book-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-actions button {
    background-color: #ff3e00;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-cart {
    background-color: #d9534f;
}

.btn-buy {
    background-color: #5cb85c;
}